*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

:root {
  --main-color-black: #000000;

  --web-color-blue: #2196f3;

  --backround-color-grey: #2f303a;

  --mail-color: #757575;

  --buttons-color: #f5f4fa;

  --white-color: #ffffff;
  --grey-color: #afb1b8;
  --modal-black:#212121;

  --transition-efect: 250ms cubic-bezier(0.4, 0, 0.2, 1)

}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color-black);
}
/*header*/
.logo {
  color: var(--main-color-black);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.033em;
  text-decoration: none;
  text-align: center;
  border: none;
}

.web {
  color: var(--web-color-blue);
}

.background-title {
  text-align: center;
  padding: 206px;
}

.menu {
  color: inherit;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.menu-active{color: var(--web-color-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.menu-active::after{    
  background-color: var(--web-color-blue);
  content: '';
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 4px;
  bottom: -39px;
  border-radius: 2px;}

.menu-activ:hover::after,
.menu-activ:focus::after{ 
  background-color: var(--web-color-blue);
  content: '';
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 4px;
  bottom: -38px;
  border-radius: 2px;
  }

 
.menu:hover,
.menu:focus {
  color: var(--web-color-blue);
  fill: var(--web-color-blue);
  
}


.mail {
  color: var(--mail-color);
  text-decoration: none;
}

.buttons {
  color: inherit;
  background-color: var(--buttons-color);
  cursor: pointer;
  justify-content: center;
}

.bttn:focus, 
.bttn:hover {
  color: var(--white-color);
  background-color: var(--web-color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
 

}
.title {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 30px;
}

.lorem {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--mail-color);
}

.h2 {
  font-size: 36px;
  line-height: 1.66;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.about {
  padding-top: 0;
}
.h3 {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  padding-top: 30px;
}
.name {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 30px;
}

.areas {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.offer {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--mail-color);
}

.staff {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--mail-color);
}

.downline-footer {
  padding: 60px 0;
  background: var(--backround-color-grey);
}

.address {
  display: inline;
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--white-color);
}

.studio {
  color: var(--white-color);
}

/*DESIGN*/

li {
  list-style: none;
}

.line-up {
  padding: 32px 0px;
}

.line {
  border-bottom: 1px solid #ececec;
}
.logo-web {
  height: 31px;
  width: 145px;
  top: 24px;
  border-radius: nullpx;
  margin-right: 93px;
}

.flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-link {
  display: flex;
  justify-content: space-between;

}
.links{
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-black);
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-between;
  gap: 46px;
}
/* nav margin start*/
.arbor {
  margin: 0 46px 0;
}
/* nav margin stop*/

.flex-cont {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-left: auto;
}




.photo {
  background: var(--backround-color-grey);
  background-image:  linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/people.jpg);
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}



.button {
  padding: 10px 41px 10px 42px;
  border-radius: 4px;
  border: none;
}

.bttn {
  display: flex;
  margin: auto;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.random {
  display: flex;
  gap: 30px;
  justify-content: center;

}
.random-photo {
  position: relative;
  overflow: hidden;}

.random-photo img {
  vertical-align: bottom;
  }

.overlay-random {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase}

 



.team-section {
  background: #f5f4fa;
}

.team {
  display: flex;
  gap: 30px;
  justify-content: center;

}

.member-team {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
  0px 1px 3px 0px #0000001f;
  width: ((100%-90px)/4);
  border-radius: 0px 0px 4px 4px;
 
}



.under {
  padding-bottom: 30px;
}

.schedule {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}
.button-pass {
  padding: 6px 22px;
  border-radius: 4px;
  margin-bottom: 50px;
  border: none;
}

.portfolio-net {
  flex-wrap: wrap;}

  .port{
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}


.port li:hover,
.port li:focus { box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.frame {
  width: ((100%-180px)/12);
}
.portfolio-net figcaption {
  border: 1px solid #eeeeee;
  border-top: 0;
}
.pic-border {
  vertical-align: bottom;
}
.pick {
  padding: 0 0 20px 20px;
}
.cover-portfolio {
  position: relative;
  overflow: hidden;
}

.cover-description {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cover-portfolio:hover .cover-description {
  transform: translateY(0);
}

.cover-description p {
  font-weight: 400px;
  font-size: 18px;
  line-height: 1, 55;
  letter-spacing: 0.03em;
  padding: 49px 45px 49px 24px;
  color: var(--white-color);

}



/*vector design*/
/*heder*/
.con-icons {
  margin-right: 10px;
}

/*order*/

.icons {
  justify-content: center;
  border-radius: 4px;
}

.symbol {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.symbol div {
  background-color: var(--buttons-color);
}

.symbol div svg {
  margin: 25px 100px;
}

.symbol div {
  background-color: var(--buttons-color);
}

/* Team*/
.soc-media {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 6px;
  padding-bottom: 30px;
  
}

.soc-team {
  fill: var(--grey-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: none;
  display: flex;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}



.soc-team:focus,
.soc-team:hover {
  fill: var(--white-color);
  background-color: var(--web-color-blue);
}

/* costumers*/

.clients {
  list-style: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 0px;
  gap: 30px;
}

.company {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  padding: 18px 32px 15px 32px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.company:hover,
.company:focus {
  fill: var(--web-color-blue);
  border: 1px solid var(--web-color-blue);
  
 
  
}

/*footer join*/

.footer-boxs {
  display: inline-flex;
  justify-content: center;
}

.social-range {
  padding-left: 70px;
  padding-top: 7;
}

.social-range p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0px;
}

.join-to {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
}

.icons-footer {
  border-radius: 50%;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-footer:hover,
.icons-footer:focus {
  fill: var(--white-color);
  border-radius: 50%;
  background-color: var(--web-color-blue);
  outline: none;
  
}
/*Modal window*/

.backdrop{ display:flex;
background-color: rgba(0, 0, 0, 0.2);
position: fixed;
justify-content: center;
align-items: center;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 1;
visibility: visible;
z-index: 1;
transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
visibility: hidden;
pointer-events: none;
opacity: 0;
transition-delay: 500ms;
transition-property:opacity, visibility;
transition-duration: 250ms;
transition-timing-function: ease-out;

}

.modal {
position: relative;
width: 528px;
height: 581px;
background-color: var(--white-color);
border-radius: 4px;
box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
      0px 2px 1px rgb(0 0 0 / 20%);
transform: translateY(0);
transition-property: transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
transform: translateY(-100%) scale(0.25);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content:center;
  cursor: pointer;
}
/*---*/
.modal-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin: 40px 40px 12px 40px;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 40px;
}

.label-modal {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--modal-black);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-icon {
  fill: var(--modal-black);
  display: flex;
  position: absolute;
  bottom: 11px;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.form-modal {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment {
  font-weight: 400;
  font-size: 12px;    line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--mail-color);
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
}


.label-box {
  display: flex;
  gap: 7px;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  margin-left: 14px;
  margin-top: 20px;
}

.check-wrapper {
  position: relative;
  width: 16px;
}
.checkbox-hidden {
  appearance: none;
  padding: 8px; 
  border: 2px;
 color: var(--main-color-black); }



.checkbox-not-checked {
  position: absolute;
  transform: translate(0%, -50%);
  top: 8px;
  left: 0;
  
  opacity: 1;
  height: 15px;
  width:  16px;
  border-radius: 2px;
 border: solid 1px var(--main-color-black);
}
.checkbox-checked {
  position: absolute;
  transform: translate(0%, -50%);
  background-color: var(--web-color-blue);
  top: 8px;
  left: 0;
 
  opacity: 0;
  z-index: 1;
  height: 15px;
  width:  16px;
  border-radius: 2px;
  border: solid 1px var(--web-color-blue);
}
  
  .checkbox-hidden:checked ~ .checkbox-checked {
    opacity: 1;
}

.checkbox-hidden:checked + .checkbox-not-checked {
    opacity: 0;
}

.label-modal:focus-within .form-modal {
    border-color: var(--web-color-blue);
}

.label-modal:focus-within .form-icon {
    fill: var(--web-color-blue);
}

.form-comment:focus {
    border-color: var(--web-color-blue);
}

.statut {
    margin-top: 20px;
}


.statut-link {
    text-decoration: underline;
    color: var(--web-color-blue);
}

.bttn-statut {
    font-weight: 700;
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--web-color-blue);
    outline: none;
    border: none;
    border-radius: 4px;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 40px;
    margin-left: 124px;
    margin-top: 20px;
    padding: 0;
}

.statut-form {
    position: relative;
    display: flex;
    align-items: center;
}

.statut-info{
  font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    
    color: var(--modal-black);
    position: relative;
    display: flex;
   gap: 4px;
}
.checkbox {
    fill: var(--white-color);
    border: 2px solid var(--main-color-black);
    border-radius: 2px;
    width: 16px;
    height: 15px;
    appearance: none;
    margin-left: 15px;
    margin-right: 8px;
    padding-top:  20px;
}




/*newsletter*/
.footer-newsletter {
width: 570px;
height: 86px;
margin-left: 78px;
margin-top: 12px;
  
}

.sub-box {
display: inline-flex;
}

.footer-newsletter h3 {
text-transform: uppercase;
font-weight: 700;
font-style: bold;
font-size: 14px;
line-height: 16px;
color: var(--white-color);
margin-bottom: 20px;
}

.form-sub {
width: 358px;
height: 50px;
background-color: transparent;
border-radius: 4px;
border-color: rgba(255, 255, 255, 0.3);
color: rgba(255, 255, 255, 0.6);
padding-left: 16px;
}

.form-sub::placeholder {
font-size: 16px;
color: rgba(255, 255, 255, 0.6);
padding-left: 16px ;
}

.button-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: var(--web-color-blue);
   margin-left: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 0px 28px 0px 42px;
  gap: 24px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-button-text {
   font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: var(--web-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.icon-send-sub {
 fill: var(--white-color);
}
