*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  margin: 0px;
  padding: 0px;}
  
*{list-style-type: none}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .general-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @import './utils/modifer';
  @import './components/banner';
  @import './components/buttons';
  @import './components/footer';
  @import './components/grid';
  @import './components/ident';
  @import './components/info';
  @import './components/join';
  @import './components/line';
  @import './components/mobile';
  @import './components/logo';
  @import './components/menu';
  @import './components/modal';
  @import './components/newsletter';
  @import './components/symbol';
  @import './components/team';
