.btn {
    padding: 10px 41px 10px 42px;
    border-radius: 4px;
    border: none;
  
&--light {
    color: inherit;
    background-color: $buttonColor;
    cursor: pointer;
    justify-content: center;}


    &--close {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $fillColor;
      border: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content:center;
      cursor: pointer;
    }
  
&--modifer {
    display: flex;
    margin: auto;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&--modifer:focus, 
&--modifer:hover {
  color: $fillColor;
  background-color: $logoActive;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;}
}


 
.tile {
  display: flex;
  justify-content: center;
  column-gap: 8px;

&__button {
  padding: 6px 22px;
  border-radius: 4px;
  margin-bottom: 50px;
  border: none;}

}