.link {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: auto;
  
  
  &--black{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: $mainFont;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: space-between;
    gap: 46px;
  

  &--grey{
    color: var(--mail-color);
    text-decoration: none;
  
  &-icons {
    margin-right: 10px;
    justify-content: center;
    border-radius: 4px;
  }
}
  }
}