.logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.033em;
    text-decoration: none;
    text-align: center;
    border: none;
    height: 31px;
    width: 145px;
    top: 24px;
    margin-right: 93px;
  
    &--black 
   {color: $mainFont;}
      
    &--blue {
    color: $logoActive;}

   &__address--white {
      display: inline;
      font-style: normal;
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.71;
      letter-spacing: 0.03em;
      text-align: left;
      color: $fillColor;
    }
  }


  .general-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }