.menu {
    display: flex;
    justify-content: space-between;
    
    color: $mainFont;
    text-decoration:none;
  
    
  &__link--basic{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: space-between;
    gap: 46px;}


    &__link--contact {
      color: $logoActive;
      text-decoration: none;
    }
  
  &--active{color: $logoActive;
    transition: color $trans;}

  &--active::after{    
        background-color:$logoActive;
        content: '';
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 4px;
        bottom: -39px;
        }

        &--activ:hover::after,
        &--activ:focus::after{ 
          background-color:$logoActive;
          content: '';
          display: flex;
          justify-content: center;
          position: relative;
          width: 100%;
          height: 4px;
          bottom: -38px;
          }
        
 &__headline {

  text-decoration: none;
  transition: $trans;}

            
            
          
&__headline:hover,
&__headline:focus {
  color:$logoActive;
  fill: $logoActive;}
  

&__headline--modifer{ color:$logoActive;
    transition: $trans;}
}
        

.link {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-left: auto;


&--border{
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: $mailColor;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-between;
  gap: 46px;}


&__reset{
  color:$mailColor;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  fill:$mailColor;}

&__icons-envelop {
  margin-right: 10px;
  justify-content: center;
 }

 &__icon-tel{
  margin-right: 10px;
  justify-content: center;

  
  
}

}


  















