    $mainFont: #000000;
    $logoActive: #2196f3;
    $backroundColor: #2f303a;
    $mailColor: #757575;
    $buttonColor: #f5f4fa;
    $fillColor: #ffffff;
    $paleFont: #afb1b8;
    $modalColor:#212121;
    $lineColor: #ececec;
    $trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    $modalShadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  
    $breakpointPhoneEnd: 767px;
    $breakpointTabletStart: 768px;
    $breakpointTabletEnd: 1199px;
    $breakpointDesktopStart: 1200px;